@import "src/app/mixins";

.inputs__group {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 35px;

        @include mobile {
            flex-direction: row;
            gap: 0px;
        }
    }
}
