@import 'src/app/mixins';


:root {
  --primary: #48B8D0;
  --black: #2D2D34;
  --white: #FAF9F6;
  --grey-100: #F4F3F0;
  --grey-200: #EDEDEA;
  --grey-300: #E1E0DD;
  --grey-400: #7D7D7B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: var(--black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--white);
}

.unstyled {
  /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
  }

button {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  border: solid;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 15px;
  gap: 10px;

  &:hover {
    opacity: .9 !important;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 15px;
  width: calc(100% - 30px);

  @include tablet {
    width: calc(100% - 70px);
    margin: 0 35px;
  }

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}
