@mixin mobile {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1300px) {
    @content;
  }
}

:root {
  --primary: #48B8D0;
  --black: #2D2D34;
  --white: #FAF9F6;
  --grey-100: #F4F3F0;
  --grey-200: #EDEDEA;
  --grey-300: #E1E0DD;
  --grey-400: #7D7D7B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: FUTURA PT;
  color: var();
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  outline: none;
  cursor: pointer;
  border: solid;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 15px;

  &:hover {
    opacity: .9 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 15px;
  width: calc(100% - 30px);

  @include tablet {
    width: calc(100% - 70px);
    margin: 0 35px;
  }

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}
