.search-input {
  border: none;
  background: #f4f3f0;
  height: 31px;
  padding: 6px 12px;
  border: 1px solid #ededea;
  border-radius: 10px;
  width: 100%;
}

.input__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.result-list {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.album-image,
.result-image {
  width: 40px;
}

.album-item {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
