* {
    margin: 0;
    padding: 0;
}

.search-input{
    margin-top:25px;
    border:none;
    background:#f4f3f0;
    height:31px;
    min-width:295px;
    /* padding: 12px 6px 12px 6px; */
    padding:12px;
    border:1px solid #ededea;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.result-list {
    display:flex;
    gap:10px;
    margin:10px;
    align-items: center;
}

.album-image,
.result-image {
    width: 40px;
}

.album-item {
    display:flex;
    gap:10px;
    margin:10px;
    align-items: center;
}

.grey{
    color:grey;
}


